**/.Xil/*
**/reports/*
**/*.cache/*
**/*.hw/*
**/*.ip_user_files/*
**/*.runs/*
**/*.sim/*
**/*.srcs/*
*.edf
*.xpr

*_stub.v
gmon.out

ips/xilinx_*/ip/*

/bigpulp/**/bigpulp.bit

**/xdc/constraints.xdc
/ulp*/tcl/ips_*.tcl
